body{
  max-width: 400px;
}
button{
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
button:hover{
  cursor: pointer;
}
#offPanda{
  background: #F71735;
}
#onPanda{
  background: #009A31;
}

.offPanda{
  background: #F71735;
}
.onPanda{
  background: #009A31;
}
