body{
  max-width: 400px;
}
button{
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
button:hover{
  cursor: pointer;
}
body{
  width: 210px;
  height: 40px;
}
a, a:focus, a:visited, a:active{
  text-decoration: none;
  outline: 0;
}
a:hover{
  text-decoration: underline;
}
.offPanda{
  background: #F71735;
}
.onPanda{
  background: #009A31;
}
